<div class="d-flex flex-column p-3 bg-light" style="height: 100%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Menu</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <!-- Gestion des Lapins -->
        <li class="nav-item">
            <a href="{% url 'liste_lapins' %}" class="nav-link text-dark">
                <i class="fas fa-paw me-2"></i> Liste des Lapins
            </a>
        </li>
        <li>
            <a href="{% url 'ajouter_lapin' %}" class="nav-link text-dark">
                <i class="fas fa-plus-circle me-2"></i> Ajouter un Lapin
            </a>
        </li>
        <li>
            <a href="{% url 'exporter_lapins_csv' %}" class="nav-link text-dark">
                <i class="fas fa-file-csv me-2"></i> Exporter Lapins CSV
            </a>
        </li>

        <!-- Gestion des Reproductions -->
        <li class="nav-item">
            <a href="#submenuReproductions" data-bs-toggle="collapse" class="nav-link text-dark">
                <i class="fas fa-venus-mars me-2"></i> Gestion des Reproductions
            </a>
            <div class="collapse" id="submenuReproductions">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="{% url 'liste_accouplements' %}" class="nav-link text-dark ms-4">
                            <i class="fas fa-list-ul me-2"></i> Liste des Accouplements
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ajouter_reproduction' %}" class="nav-link text-dark ms-4">
                            <i class="fas fa-plus-circle me-2"></i> Ajouter une Reproduction
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'liste_naissances' %}" class="nav-link text-dark ms-4">
                            <i class="fas fa-baby me-2"></i> Liste des Naissances
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'statistiques_reproductions' %}" class="nav-link text-dark ms-4">
                            <i class="fas fa-chart-pie me-2"></i> Statistiques Reproductions
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Gestion des Traitements -->
        <li class="nav-item">
            <a href="#submenuTraitements" data-bs-toggle="collapse" class="nav-link text-dark">
                <i class="fas fa-prescription-bottle-alt me-2"></i> Gestion des Traitements
            </a>
            <div class="collapse" id="submenuTraitements">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="{% url 'liste_traitements' %}" class="nav-link text-dark ms-4">
                            <i class="fas fa-list-ul me-2"></i> Liste des Traitements
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ajouter_traitement' %}" class="nav-link text-dark ms-4">
                            <i class="fas fa-plus-circle me-2"></i> Ajouter un Traitement
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'traitements_par_maladie' %}" class="nav-link text-dark ms-4">
                            <i class="fas fa-chart-bar me-2"></i> Statistiques par Maladie
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cout_total_traitements' %}" class="nav-link text-dark ms-4">
                            <i class="fas fa-euro-sign me-2"></i> Coût Total
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'rappels_traitements' %}" class="nav-link text-dark ms-4">
                            <i class="fas fa-bell me-2"></i> Rappels
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Autres -->
        <li>
            <a href="{% url 'ajouter_maladies' %}" class="nav-link text-dark">
                <i class="fas fa-virus me-2"></i> Ajouter une Maladie
            </a>
        </li>
    </ul>
</div>
